.body-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    input {
        width: 100%;
        padding: 0.5em 0.8em;
        font-size: 1.2em;
    }

    button {
        font-size: 1.2em;
        padding: 0.5em 0.8em;
        cursor: pointer;
        width: 200px;
    }
}